{% extends 'page.html' %}

{% block pagecontent %}

<div style="font-size: 24px" align="center">Create a new post</div>
<br><br>
<form method="post" enctype="multipart/form-data" autocomplete="off">
  <table cellspacing="0" align="center">
    {% csrf_token %}
    {% for field in create_form %}
      <tr>
        <td class="td-text-input-name" width="20%">{{ field.label_tag }}</td>
        <td class="td-text-input-field" width="80%">{{ field }}</td>
      </tr>
      <tr><td><br></td></tr>
    {% endfor %}
  </table>
  <br><br>
  <div align="center">
    <input type="submit" value="Submit" class="submit-button"/>
  </div>
  <br><br>
</form>


{% endblock %}
