{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
  <body class="no-margin">

    <a href="{% url 'view_all_posts' %}">Home</a>
    <a href="{% url 'new_user' %}">New Account</a>

    {% block pagecontent %}
    {% endblock %}
  </body>
</html>
