{% extends 'page.html' %}

{% block pagecontent %}

<p>New post</p>
<button class="new-button" onclick="location.href = '{% url 'new_post' user.username %}';"><pre> + New Post</pre></button>

{% endblock %}
